<navbar model="ctrl.navModel"></navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Profil użytkownika</h1>
	</div>

	<form name="ctrl.userForm" class="gf-form-group">
		<h3 class="page-heading">Informatcje</h3>

		<div class="gf-form max-width-30">
			<span class="gf-form-label width-8">Nazwa</span>
			<input class="gf-form-input max-width-22" type="text" required ng-model="ctrl.user.name" >
		</div>
		<div class="gf-form max-width-30">
			<span class="gf-form-label width-8">Email</span>
			<input class="gf-form-input max-width-22" type="email" ng-readonly="ctrl.readonlyLoginFields" required ng-model="ctrl.user.email">
      <i ng-if="ctrl.readonlyLoginFields" class="fa fa-lock gf-form-icon--right-absolute" bs-tooltip="'Login Details Locked - managed in another system.'"></i>
    </div>
		<div class="gf-form max-width-30">
			<span class="gf-form-label width-8">Uźytkownik</span>
      <input class="gf-form-input max-width-22" type="text" ng-readonly="ctrl.readonlyLoginFields" required ng-model="ctrl.user.login">
      <i ng-if="ctrl.readonlyLoginFields" class="fa fa-lock gf-form-icon--right-absolute" bs-tooltip="'Login Details Locked - managed in another system.'"></i>
    </div>
		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="ctrl.update()">Zapisz</button>
		</div>
	</form>

	<prefs-control mode="user"></prefs-control>

	<h3 class="page-heading">Hasło</h3>
	<div class="gf-form-group">
		<a href="profile/password" class="btn btn-inverse">Zmień haso</a>
	</div>

	<h3 class="page-heading" ng-show="ctrl.showOrgsList">Organizacje</h3>
  <div class="gf-form-group" ng-show="ctrl.showOrgsList">
		<table class="filter-table form-inline">
			<thead>
				<tr>
					<th>Nazwa</th>
					<th>Rola</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="org in ctrl.orgs">
					<td>{{org.name}}</td>
					<td>{{org.role}}</td>
					<td class="text-right">
						<span class="btn btn-primary btn-mini" ng-show="org.orgId === contextSrv.user.orgId">
							Bieżący
						</span>
						<a ng-click="ctrl.setUsingOrg(org)" class="btn btn-inverse btn-mini" ng-show="org.orgId !== contextSrv.user.orgId">
							Wybierz
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

